.navbar {
  display: flex;
  justify-content: space-between;
  padding: 12px 24px;
  background-color: white;
}
.navbar-img {
  height: 35px;
  border-radius: 8px;
}
.navbar-left {
  display: flex;
  flex-direction: row;
}
.navbar-logo {
  display: flex;
  height: 35px;
  width: auto;
}
.navbar-text {
  align-self: center;
  color: red;
  font-weight: 700;
}
